/* nesse arquivo coloquei as classes que podem ser reaproveitadas em outros elementos*/
.main-bg {
  background-image: url(/assets/img/background-main.svg);
  background-size: auto;
  background-position: center center;
  color: var(--white-color);
}
.white-bg {
  background: white;
  color: var(--primary-color);
}

.main-content/* essa classe vai servir para segurar o conteudo*/ {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem var(--gap);
}
.menu-content {
  white-space: nowrap; /*essa tag faz com que o texto nao quebre*/
}
.menu-spacing {
  height: 6.5rem;
}

.section {
  min-height: 100vh;
}

.intro-content {
  position: relative;
  top: -4rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}
.intro-text,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text p {
  text-align: right;
  color: #fff;
}
.intro-img img {
  max-width: 80%;
  height: auto;
}
.top3-content {
  max-width: 64rem;
  text-align: center;
  display: flex;
  /*flex-flow:column wrap;*/
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  padding-top: 6rem;
}
.top3-content h2 {
  padding-top: 5rem;
}
.carteira-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
  padding-top: 1rem;
}
.carteira-content h2 {
  margin-bottom: 1rem;
}
.description-wallet {
  padding-bottom: 7rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}
.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}
.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
}

.image-markets {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}
.image-markets img {
  transition: all 300ms ease-in-out;
}

.image-markets img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(6deg);
}

.responsive-table {
  overflow: hidden;
  overflow-x: auto;
}
.table-content {
  max-width: 64rem;
  text-align: center;
  display: flex;
  /*flex-flow:column wrap;*/
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  padding-top: 6rem;
}
.contact-form {
  grid-column: span 2;
}
.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-group {
  flex: 1 1 320px;
}
.form-group label {
  display: block;
}
.form-group input,
.form-group textarea {
  border: none;
  background: var(--white-color);
  padding: 1.5rem 2rem;
  width: 100%;
}

/*.contact-img img {
  max-width: 50%;
  height: auto;
  border-radius: 80%;
  position: absolute;
  padding: 0 15%;}*/

/*.top3-content h2, p {
  text-align: center;
  justify-content: center;*/
